* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Oswald', sans-serif;
}

.content {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
}

.overlay {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 20;
}

.pop_up {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 200px;
    background-color: white;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 30;
}

.pop_up p {
    margin-bottom: 20px;
}

.pop_up button {
    border: none;
    outline: none;
    background-color: cornflowerblue;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
}

.box_left {
    width: 50%;
    height: 100%;
    background-color: darkseagreen;
    display: flex;
    align-items: center;
    justify-content: center;
}

.message_connexion {
    display: none;
}

.message_connexion span, .message_inscription span {
    text-decoration: underline;
    cursor: pointer;
}

.box_right {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e3e3e3;
}

.form {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    border: 1px solid rgb(208, 208, 208);
    box-shadow: 0px 7px 20px -17px black;
    background-color: white;
}

.sign_in {
    display: none;
    width: 320px;
    height: 460px;
}

.log_in {
    display: flex;
    width: 280px;
    height: 240px;
}

form {
    position: relative;
    display: flex;
    flex-direction: column;
}

.sign_in form {
    width: 300px;
    height: 410px;
    justify-content: space-between;
}

.log_in form {
    width: 250px;
    height: 200px;
    justify-content: space-around;
}

label {
    display: flex;
    flex-direction: column;
}

.sign_in form label {
    height: 55px;
}

.log_in form label {
    height: 75px;
}

input {
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(208, 208, 208);
    transition: .2s ease;
    padding-left: 10px;
}

.sign_in form input {
    height: 50px;
}

.log_in form input {
    height: 55px;
}

input:focus {
    border-bottom: 1px solid rgb(132, 169, 204);
}

form button {
    position: absolute;
    bottom: -85px;
    left: -10px;
    padding: 15px 0;
    width: 50%;
    /* border-radius: 12px; */
    border: none;
    background-color: cornflowerblue;
    color: white;
    font-weight: 600;
    box-shadow: 0px 7px 20px -10px cornflowerblue;
    cursor: pointer;
}
